*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}
header{
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 30px;
    font-size: 20px;
}
.navBar{
    padding: 15px;
    background-color: black;
    text-align: center;
}
.navBar ul{
    list-style-type: none;
    margin: 0;
}
.navBar ul li{
    display: inline;
    margin-right: 20px;
}
.navBar ul li a{
    color: white;
    text-decoration: none;
}
#contato{
   text-align: center; 
   font-size: 30px;
}
i{
    position: absolute;
    transform: translate(-2150%);
    font-size: 20px;
    height: 90px;
}
.contatoCad{
    align-items: center;
    text-align: center;
}
.contatoCad i{
    justify-content: center;
}
.nome label{
    margin-left: -325px;
    font-size: 25px;
}
.nome input{
    margin-bottom: 9px;
    padding: 10px;
    width: 400px;
}
.email label{
    margin-left: -325px;
    font-size: 25px;
}
.email input{
    padding: 10px;
    width: 400px;
}
.mensagem i{
    top: 900px;
}
.mensagem label{
    margin-left: -275px;
    font-size: 25px;
}
.mensagem textarea{
    padding: 5px;
    width: 400px;
}
#button{
    display: flex;
    margin-left: 528px;
}
button{
    border: 0;
    padding: 10px;
    width: 400px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 30px;
}
footer{
    background-color: black;
    color: white;
    padding: 15px;
}

